body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .sidebar a i {
    margin-right: 10px;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  .add-food-form {
    max-width: 800px; /* Increase the max-width to make the form wider */
    margin: 0 auto;
    width: 100%;
  }
  
  .add-food-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .add-food-form input,
  .add-food-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .add-food-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }